<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
          initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <title>{% block title %} Main HTML {% endblock %} | Django Blog</title>
</head>
<body>
    <main>{% block main %}{% endblock %}</main>
</body>
</html>

{#color palette https://coolors.co/edeec9-dde7c7-bfd8bd-98c9a3-77bfa3#}