{% extends "./base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "account/login.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}

    <h1>Django Blog!</h1>

    <form action="{% url "account:login" %}" method="POST">
        {% csrf_token %}
        <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
        {{ form.username }}
        <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
        {{ form.password }}

        <button type="submit">Login</button>
    </form>

    <p class="link-register">Don't have an account yet? <a href="{% url "account:register" %}">Create an account.</a></p>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p class="success">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors  %}
        <ul class="error_list">
            {% for error in form.non_field_errors  %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock%}

