{% extends "./base.html" %}
{% load static %}

{% block title %}Come back, soon!{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "account/logout.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1>You are successfully logged out.</h1>
    <p class="message">Click <a href="{% url "account:login" %}" class="link-login">here</a> to login.</p>
{% endblock %}