{% extends "./base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "account/registration.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}Registration{% endblock %}



{% block main %}
    <h1>Register</h1>
    <form action="{% url "account:register" %}" method="POST">
        {% csrf_token %}

        <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
        {{ form.username }}
        <label for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
        {{ form.password1 }}
        <label for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
        {{ form.password2 }}

        <button type="submit">Register</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p class="success">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if error_message %}
        <ul class="error_list">
            {% for error in error_message %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}