{% extends "./base.html" %}
{% load static %}

{% block title %}Welcome{% if user and user.first_name != "" %}, {{ user.first_name }}{% endif  %}!{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "account/welcome.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1>Welcome{% if user and user.first_name != "" %}, {{ user.first_name }}{% endif  %}!</h1>
    <form action="{% url "account:logout" %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endblock %}