*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

html, body, main
{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #77bfa3;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #edeec9;
    box-shadow: #7e7f67 0px 0px 10px;
    border-radius: 10px;
    padding: 25px;
    width: 300px;
    /*height: 200px;*/
}

button
{
    color: white;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #98c9a3;
    border: 0px solid #546f5a;
    box-shadow: #546f5a 0px 0px 5px;
    cursor: pointer;
    outline: none;
}

button:hover
{
    background-color: #77bfa3;
}

label, input
{
    margin: 5px 0px;
}

input
{
    padding: 5px;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: black 0px 0px 5px;
    outline: none;
}

.link-register
{
    margin: 10px;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: #546f5a;
}

.success
{
    color: white;
}

h1
{
    color: white;
    font-family: 'Grandstander', cursive;
    font-size: 5rem;
    margin: 20px 0px;
    text-align: center;
    text-shadow: #546f5a 0px 0px 5px;
}